[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/hiAndrewQuinn/hugo-PaperMod.git
[submodule "content/posts"]
	path = content/posts
	url = https://github.com/Nikhil0307/cognizance.git
[submodule ".github/workflows/themes/PaperMod"]
	path = .github/workflows/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
